Repository NCATComp410/comp410_summer_2024, pull requests merged in 2024-07, with the labels that each got.

#24 Added Person data test case
  test_ai_aggies.py
Labels: TeamAI-Aggies

#23 Added LOCATION test cases
  test_ai_aggies.py
Labels: TeamAI-Aggies

#25 Added US_BANK_NUMBER test case
  test_ai_aggies.py
Labels: TeamAI-Aggies

#29 Added URL test case
  test_ai_aggies.py
Labels: TeamAI-Aggies

#26 Added AU_MEDICARE test case
  test_traveling_sales.py
Labels: The Traveling Salesmen

#30 Added PHONE_NUMBER test case
  test_ai_aggies.py
Labels: TeamAI-Aggies

#32 Added AU_ABN Test Case
  test_team_null.py
Labels: The Traveling Salesmen

#27 Added CRYPTO test case
  test_team3.py
Labels: Team3

#37 Added US_DRIVER_LICENSE test case
  test_traveling_sales.py
Labels: The Traveling Salesmen

#33 Added IBAN_CODE test case
  test_team3.py
Labels: Team3

#38 Added UK_NHS test case
  test_traveling_sales.py
Labels: TeamTravelingSalesmen, The Traveling Salesmen

#40 Re-added AU_MEDICARE Test Case
  test_traveling_sales.py
Labels: The Traveling Salesmen

#36 Add US_ITIN test case
  test_team_null.py
  test_traveling_sales.py
Labels: The Traveling Salesmen

#28 adding positive IP ADDRESS test case
  test_team3.py
Labels: Team3

#35 Added CREDIT_CARD test case
  test_team3.py
Labels: Team3

#41 update MED_LICENSE test cases
  test_ai_aggies.py
Labels: TeamAI-Aggies

#39 Added Email PII Detection Test Cases
  test_team3.py
Labels: Team3
